<app-upload></app-upload>
<app-search></app-search>
<app-tags></app-tags>
<ul>
  <li *ngFor="let medicine of medicines">
    <a routerLink="/medicine/{{medicine.id}}">
      <img [src]="medicine.imageUrl" alt="{{medicine.name}}"/>
      <div class="content">
        <div class="name">
          {{medicine.name}}
        </div>
        <div class="stars">
          <star-rating
          [value]="medicine.stars"
          [totalstars]="5"
          checkedcolor="red"
          uncheckedcolor="black"
          size="22px"
          [readonly]="true">
        </star-rating>
        </div>
        <div class="short-description">
          {{medicine.shortDescription}}
        </div>
        <div class="price">
          <span>
            {{medicine.price | currency:"INR"}}
          </span>
        </div>
      </div>
    </a>
  </li>
</ul>
