<!--<div class="container">
  <div class="details">
    <app-title title="Login"></app-title>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="input-container">
        <label>Email</label>
        <div>
          <input type="email" placeholder="Email" formControlName="email"/>
        </div>
        <div class="error-list" *ngIf="fc.email.errors && isSubmited">
          <div *ngIf="fc.email.errors.required">Should not be empty</div>
          <div *ngIf="fc.email.errors.email">Email is not correct</div>
        </div>
      </div>
      <div class="input-container">
        <label>Password</label>
        <div>
          <input type="password" placeholder="Password" formControlName="password"/>
        </div>

        <div class="error-list" *ngIf="fc.password.errors && isSubmited">
          <div *ngIf="fc.password.errors.required">Should not be empty</div>
        </div>
      </div>
      <div class="button">
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</div>-->

<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" [formGroup]="loginForm" (ngSubmit)="submit()">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="email" class="login__input" placeholder="User name / Email" formControlName="email"/>
          <div class="error-list" *ngIf="fc.email.errors && isSubmited">
            <div *ngIf="fc.email.errors.required">Should not be empty</div>
            <div *ngIf="fc.email.errors.email">Email is not correct</div>
          </div>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Password" formControlName="password"/>
          <div class="error-list" *ngIf="fc.password.errors && isSubmited">
            <div *ngIf="fc.password.errors.required">Should not be empty</div>
          </div>
				</div>
        <div class="buttons">
          <button class="button login__submit" type="submit">
            <span class="button__text">Log In</span>
            <i class="button__icon fas fa-chevron-right"></i>
          </button>
          <button class="button login__clear" type="reset">
            <span class="button__text">Clear</span>
            <i class="button__icon fas fa-chevron-right"></i>
          </button>
        </div>
        <div class="register">
          New User? &nbsp;
          <a routerLink="/register" [queryParams]="{returnUrl:returnUrl}">
            Register Here
          </a>
        </div>
			</form>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
	</div>
</div>
