<div class="add-product">
  <form>
    <div>
      <input type="text" placeholder="Name"/>
    </div>
    <div>
      <input type="text" placeholder="Short description" />
    </div>
    <div>
      <input type="text" placeholder="Starts" />
    </div>
    <div>
      <input type="text" placeholder="Rating" />
    </div>
    <div>
      <input type="text" placeholder="Price" />
    </div>
    <div>
      <input type="text" placeholder="Image Url" />
    </div>
    <div>
      <input type="text" placeholder="Tags" />
    </div>
    <div>
      <button type="submit">
        <span>Add</span>
      </button>
      <button type="reset">
        <span>Clear</span>
      </button>
    </div>
  </form>
</div>